p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  cursor: pointer;

  -webkit-tap-highlight-color: transparent; /* Removes the blue highlight on tap */
  -webkit-user-select: none; /* Prevents text selection */
  user-select: none;
  outline: none; /* Removes the focus outline */
}
body{
  transition: all .15s;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 114px;
}
