p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  cursor: pointer;

  -webkit-tap-highlight-color: transparent; /* Removes the blue highlight on tap */
  -webkit-user-select: none; /* Prevents text selection */
  user-select: none;
  outline: none; /* Removes the focus outline */
}
body{
  transition: all .15s;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 114px;
}

.info{
  width: 300px;
  text-align: right;
  color: rgb(109, 109, 109);
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}.info p{
  color: blue;
}
